.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Downloads

.govuk-grid-row
  .govuk-grid-column-full
    = form_tag(new_admin_download_path, method: :get) do |form|
      %fieldset.govuk-fieldset
        %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
          %h2.govuk-heading-m
            Customer effort score download
          .govuk-form-group
            %fieldset.govuk-fieldset{"aria-describedby" => "from-date-hint", role: "group"}
              %legend.govuk-fieldset__legend.govuk-fieldset__legend--l{class: 'govuk-!-margin-bottom-1'}
                %h3.govuk-heading-s{class: 'govuk-!-margin-bottom-1'}
                  From
              #from-date-hint.govuk-hint
                For example, 21 03 2022
              #from-date.govuk-date-input
                .govuk-date-input__item
                  .govuk-form-group
                    %label.govuk-label.govuk-date-input__label{for: "dd-from"}
                      Day
                    %input#dd-from.govuk-input.govuk-date-input__input.govuk-input--width-2{inputmode: "numeric", name: "dd_from", type: "text"}
                .govuk-date-input__item
                  .govuk-form-group
                    %label.govuk-label.govuk-date-input__label{for: "mm-from"}
                      Month
                    %input#mm-from.govuk-input.govuk-date-input__input.govuk-input--width-2{inputmode: "numeric", name: "mm_from", type: "text"}
                .govuk-date-input__item
                  .govuk-form-group
                    %label.govuk-label.govuk-date-input__label{for: "yyyy-from"}
                      Year
                    %input#yyyy-from.govuk-input.govuk-date-input__input.govuk-input--width-4{inputmode: "numeric", name: "yyyy_from", type: "text"}

          .govuk-form-group
            %fieldset.govuk-fieldset
              %legend.govuk-fieldset__legend.govuk-fieldset__legend--l{class: 'govuk-!-margin-bottom-1'}
                %h3.govuk-heading-s{class: 'govuk-!-margin-bottom-1'}
                  To
              #to-date.govuk-date-input
                .govuk-date-input__item
                  .govuk-form-group
                    %label.govuk-label.govuk-date-input__label{for: "dd-to"}
                      Day
                    %input#dd-to.govuk-input.govuk-date-input__input.govuk-input--width-2{inputmode: "numeric", name: "dd_to", type: "text"}
                .govuk-date-input__item
                  .govuk-form-group
                    %label.govuk-label.govuk-date-input__label{for: "mm-to"}
                      Month
                    %input#mm-to.govuk-input.govuk-date-input__input.govuk-input--width-2{inputmode: "numeric", name: "mm_to", type: "text"}
                .govuk-date-input__item
                  .govuk-form-group
                    %label.govuk-label.govuk-date-input__label{for: "yyyy-to"}
                      Year
                    %input#yyyy-to.govuk-input.govuk-date-input__input.govuk-input--width-4{inputmode: "numeric", name: "yyyy_to", type: "text"}

          = submit_tag 'Download CSV', data: { 'prevent-double-click': true, disable_with: false }, class: 'govuk-button'

.govuk-grid-row
  .govuk-grid-column-full
    %h2.govuk-heading-m
      Notify downloads
    %table.govuk-table{:class => 'govuk-!-margin-top-7'}
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header Notify template
          %th.govuk-table__header Actions
      %tbody.govuk-table__body
        %tr.govuk-table__row#notify-download-unfinished
          %td.govuk-table__cell
            Management information submission is unfinished
          %td.govuk-table__cell= link_to 'Download CSV', admin_download_path(:unfinished)
