.git
.env
.env.local
.dockerignore
config/master.key

# Terraform
*.tfstate
*.tfstate.backup
.terraform/environment
terraform.tfplan
terraform.tfstate
./*.tfstate
.terraform/
.terraform.tfstate.lock.info
