SECRET_KEY_BASE=1e68bf00783c255cf545c4b2a4548f1d863019323c705b0d210416b1db4746a553ff364b282069c0de45dc6d5f449265539faa9a91e8d7f4effc6798143547d2
DATABASE_URL=postgres://postgres@db:5432/DataSubmissionServiceApi_development?template=template0&pool=5&encoding=unicode
RAILS_MAX_THREADS=5
SIDEKIQ_USERNAME=sidekiq
SIDEKIQ_PASSWORD=sidekiq
SIDEKIQ_CONCURRENCY=3
REDIS_URL=redis://redis:6379/
RAILS_LOG_TO_STDOUT=true
ADMIN_EMAILS=
NEW_INGEST=true
SUBMIT_INVOICES=
WORKDAY_API_USERNAME=
WORKDAY_API_PASSWORD=
AZURE_ACCOUNT_NAME=
AZURE_ACCOUNT_KEY=
AZURE_CONTAINER_NAME=

# Auth0 for SSO
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=

# Optional: Dev SSO is used by default when these values are left blank
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# AWS S3 for file storage
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION=eu-west-2
AWS_S3_BUCKET=dss-infrastructure-development-storage
AWS_S3_EXPORT_BUCKET=
