.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      New framework

= simple_form_for [:admin, @framework] do |form|
  %fieldset.govuk-fieldset
    = render partial: 'shared/error_summary', locals: { entity: @framework } if @framework.errors.present?

    = form.input :definition_source, input_html: { class: 'govuk-textarea--fdl-source language-ruby', rows: '5' }
    = form.button :submit, value: 'Save definition'
