.govuk-grid-row
  .govuk-grid-column-two-thirds
    = simple_form_for [:admin, @urn_list] do |form|
      %fieldset.govuk-fieldset
        %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
          %h1.govuk-fieldset__heading
            Upload an new URN list

        = render partial: 'shared/error_summary', locals: { entity: @urn_list } if @urn_list.errors.present?

        = form.input :excel_file, label: 'Choose a URN list file to upload. Accepted file types are Microsoft Excel (.xls or .xlsx).', hide_optional: true
        = form.button :submit, value: 'Upload URN list'

