.govuk-grid-row
  .govuk-grid-column-two-thirds
    = simple_form_for [:admin, @urn_list] do |form|
      %fieldset.govuk-fieldset
        %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
          %h1.govuk-fieldset__heading
            Upload a new URN list

        = render partial: 'shared/error_summary', locals: { entity: @urn_list } if @urn_list.errors.present?

        = form.input :excel_file, label: 'Choose a URN list file to upload. Accepted file type is Microsoft Excel (.xlsx).', hide_optional: true
        = form.button :submit, value: 'Upload URN list'

        %p
          This file should contain a single sheet named 'Customers', containing the following columns:

        %ul.govuk-list.govuk-list--bullet
          %li URN
          %li CustomerName
          %li PostCode
          %li Sector (either 'Central Government' or 'Wider Public Sector')
          %li Published (either 'TRUE' or 'FALSE'. Blank cells are presumed true.)
