@import "govuk-frontend/govuk/components/button/button";

$govuk-button-colour: govuk-colour("secondary");
$govuk-button-hover-colour: darken($govuk-button-colour, 5%);
$govuk-button-shadow-colour: darken($govuk-button-colour, 15%);
$govuk-button-text-colour: govuk-colour("black");

$button-shadow-size: $govuk-border-width-form-element;

.govuk-button {
  color: $govuk-button-text-colour;
  background-color: $govuk-button-colour;

  // Ensure that any global link styles are overridden
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $govuk-button-text-colour;
  }

  @include govuk-compatibility(govuk_template) {
    &:link:focus {
      color: $govuk-button-text-colour;
    }
  }

  &:hover,
  &:focus {
    background-color: $govuk-button-hover-colour;
  }
}

.govuk-button--disabled,
.govuk-button[disabled="disabled"],
.govuk-button[disabled] {
  background: $govuk-button-colour;

  &:hover {
    background-color: $govuk-button-colour;
  }

  &:active {
    top: 0;
    box-shadow: 0 $button-shadow-size 0 $govuk-button-shadow-colour; // s0
    -webkit-box-shadow: 0 $button-shadow-size 0 $govuk-button-shadow-colour;
    @include govuk-if-ie8 {
      border-bottom: $button-shadow-size solid $govuk-button-shadow-colour; // s0
    }
  }
}

.govuk-button--as-link {
  border:none;
  padding: 0;
  margin-bottom: 0;
  text-decoration: underline;
  color: govuk-colour("blue");
  @include govuk-font(19);
  &:link {
    color: $govuk-link-colour;
  }

  &:visited {
    color: $govuk-link-visited-colour;
  }

  &:hover {
    color: $govuk-link-hover-colour;
  }

  &:active {
    color: $govuk-link-active-colour;
  }
  &:focus {
    @include govuk-focused-text();
  }
}


