.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      RMI Admin

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = link_to 'Start now', auth_provider_path, class: 'govuk-button govuk-button--start', id: 'start-now'
    %h2.govuk-heading-m
      Before you start
    %p
      You can sign in to this service using your @crowncommercial.gov.uk email address and password.
