.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Not Authorised

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %p
      This google account does not have access to RMI Admin.
      = link_to 'Back', admin_root_path
