$('#unfinished-tasks-table').html("#{j (render partial: 'tasks_table', locals: {tasks: @tasks})}")
$('#unfinished_task_pagination').html("#{j (paginate(@tasks, :param_name => "page", :remote => true).to_s)}");
$('#unfinished_task_pagination_summary').html("#{j (page_entries_info(@tasks, entry_name: "task").to_s)}");