%div{ 'data-module' => "govuk-error-summary", 'class' => 'govuk-error-summary', 'aria-labelledby' => "error-summary-title", 'role'=>"alert", 'tabindex' => "-1" }
  %h2#error-summary-title.govuk-error-summary__title
    There is a problem
  .govuk-error-summary__body
    %ul.govuk-list.govuk-error-summary__list
      - entity.errors.each do |error|
        %li
          %a{href: "##{entity.model_name.element}_#{error.attribute}"}= error.message
