%header.govuk-header{"data-module" => "header", :role => "banner"}
  .govuk-header__container.govuk-width-container
    .govuk-header__logo
      %a.govuk-header__link.govuk-header__link--homepage{:href => "https://www.crowncommercial.gov.uk/"}
        %span.govuk-header__logotype-text.govuk-visually-hidden
          Crown
          %br
          Commercial
          %br
          Service
    .govuk-header__content
      %a.govuk-header__link.govuk-header__link--service-name{:href => admin_root_path}
        RMI Admin
      %button.govuk-header__menu-button.js-header-toggle{"aria-controls" => "navigation", "aria-label" => "Show or hide Top Level Navigation", :role => "button"} Menu
      - if !no_navigation
        %nav
          %ul#navigation.govuk-header__navigation{"aria-label" => "Top Level Navigation"}
            - if current_user
              = current_user['name']
              = link_to 'log out', admin_sign_out_path
            - else
              = link_to 'login', '/auth/google_oauth2'
            = yield
