@import 'prism';

.simple_form.new_framework .govuk-error-summary, .simple_form.edit_framework .govuk-error-summary {
  display: none;
}

.framework_definition_source .govuk-error-message {
  display: none;
}

.govuk-textarea--fdl-source {
  min-height: 40em;
  min-width: 100%;
}
