.simple_form.new_framework, .simple_form.edit_framework {
  .govuk-error-summary__list a[href='#framework_definition_source'] {
    white-space: pre-wrap;
    text-decoration: none;
    font-weight: normal;
  }
}

.framework_definition_source .govuk-error-message {
  display: none;
}

.js #code-editor {
  visibility: hidden;
}

textarea.govuk-textarea--fdl-source {
  min-height: 40em;
  min-width: 100%;
}

.cm-editor {
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}


.cm-editor .cm-scroller {
  height: 60em;
  overflow: auto;
  resize: none;
}

.cm-gutters {
  background: inherit;
  border-right: none;
}

.cm-content {
  line-height: 1.45;
  font-size: 0.95rem;
}
