.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl Bulk off-board suppliers

.govuk-grid-row
  .govuk-grid-column-full
    = simple_form_for :bulk_offboard, url: admin_supplier_bulk_offboard_path do |form|
      %fieldset.govuk-fieldset
        %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
          %h2.govuk-fieldset__heading
            CSV

        = form.input :csv_file, as: :file, label: 'Choose a CSV file to upload.', hide_optional: true
        = form.button :submit, 'Upload'

        %p
          This file should contain the following columns:

        %ul.govuk-list.govuk-list--bullet
          %li framework_short_name (e.g. RM1043.5)
          %li lot_number
          %li supplier_name
          %li salesforce_id
          %li coda_reference

