// CCS Settings that override GOV.UK ones
$govuk-page-width: 1020px;

// $govuk-assets-path: "";
// $govuk-images-path: "";

$govuk-font-url-function: 'image-url';
$govuk-image-url-function: 'image-url';

$govuk-global-styles: true;
$govuk-compatibility-govukfrontendtoolkit: false;
$govuk-compatibility-govuktemplate: false;
$govuk-compatibility-govukelements: false;

$govuk-colours: (
  "purple": #2e358b,
  "light-purple": #6f72af,
  "bright-purple": #912b88,
  "pink": #d53880,
  "light-pink": #f499be,
  "red": #b10e1e,
  "bright-red": #df3034,
  "orange": #f47738,
  "brown": #b58840,
  "yellow": #ffbf47,
  "light-green": #85994b,
  "green": #006435,
  "turquoise": #28a197,
  "dark-blue": #2b8cc4,
  "blue": #005ea5,

  "primary": #8fb3ff,
  "secondary": #bcca46,

  "black": #0b0c0c,
  "dark-grey": #6f777b,
  "mid-grey": #bfc1c3,
  "light-grey": #dee0e2,
  "white": #ffffff,

  "link": #005ea5,
  "link-hover": #2b8cc4,
  "link-visited": #4c2c92,

  "failure": #b10e1e,
  "warning": #de8f1a,
  "success": #0eb163
);

$ccs-subtle-colour: #F6F6F6;

// Typography
$govuk-font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
$govuk-font-family-print: sans-serif;

$govuk-font-weight-regular: 400;
$govuk-font-weight-bold: 600;

$govuk-typography-scale: (
    80: (
        null: (
            font-size: 53px,
            line-height: 55px
        ),
        tablet: (
            font-size: 80px,
            line-height: 80px
        ),
        print: (
            font-size: 53pt,
            line-height: 1.1
        )
    ),
    56: (
        null: (
            font-size: 45px,
            line-height: 50px
        ),
        tablet: (
            font-size: 56px,
            line-height: 60px
        ),
        print: (
            font-size: 45pt,
            line-height: 1.1
        )
    ),
    48: (
        null: (
            font-size: 32px,
            line-height: 35px
        ),
        tablet: (
            font-size: 48px,
            line-height: 50px
        ),
        print: (
            font-size: 32pt,
            line-height: 1.15
        )
    ),
    36: (
        null: (
            font-size: 24px,
            line-height: 25px
        ),
        tablet: (
            font-size: 36px,
            line-height: 40px
        ),
        print: (
            font-size: 24pt,
            line-height: 1.05
        )
    ),
    27: (
        null: (
            font-size: 18px,
            line-height: 20px
        ),
        tablet: (
            font-size: 27px,
            line-height: 30px
        ),
        print: (
            font-size: 18pt,
            line-height: 1.15
        )
    ),
    24: (
        null: (
            font-size: 18px,
            line-height: 20px
        ),
        tablet: (
            font-size: 24px,
            line-height: 30px
        ),
        print: (
            font-size: 18pt,
            line-height: 1.15
        )
    ),
    22: (
        null: (
            font-size: 20px,
            line-height: 22px
        ),
        tablet: (
            font-size: 22px,
            line-height: 24px
        ),
        print: (
            font-size: 20pt,
            line-height: 1.1
        )
    ),
    20: (
        null: (
            font-size: 20px,
            line-height: 21px
        ),
        tablet: (
            font-size: 20px,
            line-height: 21px
        ),
        print: (
            font-size: 20pt,
            line-height: 1.05
        )
    ),
    19: (
        null: (
            font-size: 16px,
            line-height: 20px
        ),
        tablet: (
            font-size: 19px,
            line-height: 25px
        ),
        print: (
            font-size: 14pt,
            line-height: 1.15
        )
    ),
    18: (
        null: (
            font-size: 18px,
            line-height: 23px
        ),
        tablet: (
            font-size: 18px,
            line-height: 23px
        ),
        print: (
            font-size: 18pt,
            line-height: 1.2
        )
    ),
    17featured: (
        null: (
            font-size: 17px,
            line-height: 24px
        ),
        tablet: (
            font-size: 17px,
            line-height: 24px
        ),
        print: (
            font-size: 17pt,
            line-height: 1.4
        )
    ),
    17search: (
        null: (
            font-size: 17px,
            line-height: 17px
        ),
        tablet: (
            font-size: 17px,
            line-height: 17px
        ),
        print: (
            font-size: 17pt,
            line-height: 1
        )
    ),
    16: (
        null: (
            font-size: 14px,
            line-height: 16px
        ),
        tablet: (
            font-size: 16px,
            line-height: 20px
        ),
        print: (
            font-size: 14pt,
            line-height: 1.2
        )
    ),
    15: (
        null: (
            font-size: 15px,
            line-height: 19px
        ),
        tablet: (
            font-size: 15px,
            line-height: 19px
        ),
        print: (
            font-size: 15pt,
            line-height: 1.2
        )
    ),
    14: (
        null: (
            font-size: 12px,
            line-height: 15px
        ),
        tablet: (
            font-size: 14px,
            line-height: 20px
        ),
        print: (
            font-size: 12pt,
            line-height: 1.2
        )
    )
);