= form_for [:admin, @user], url: edit_admin_user_path(@user), method: :post do |form|
  .govuk-grid-row
    .govuk-grid-column-full
      %fieldset.govuk-fieldset
        %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
          %h1.govuk-fieldset__heading
            Reactivate this User?
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %p
        This user will be recreated on Auth0 and will be sent a new password

  .govuk-grid-row
    .govuk-grid-column-full
      %table.govuk-table
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header Name
            %th.govuk-table__header Email
        %tbody.govuk-table__body
          %tr.govuk-table__row
            %td.govuk-table__cell= @user.name
            %td.govuk-table__cell= @user.email
      .govuk-form-group
        = form.submit 'Reactivate user', class: 'govuk-button'
