/*------------------------------------*\
  #Enclosure
\*------------------------------------*/

.apollo-enclosure {

    padding: govuk-px-to-rem(25);
    background-color: $ccs-subtle-colour;

    +.apollo-enclosure {

        margin-top: govuk-px-to-rem(25);

    }

}

.apollo-enclosure--white {

    background-color: transparent;

}

.apollo-enclosure--further-competition + .apollo-enclosure--further-competition {

    margin-top: 0;

}

.apollo-enclosure--framework-lots {

    // subtract the padding-top added by the definition key
    // subtract the padding-bottom added table cell
    padding: govuk-px-to-rem(18-10) govuk-px-to-rem(26) govuk-px-to-rem(28-14) govuk-px-to-rem(26);

}


.govuk-form-group--enclosure {

    padding: govuk-px-to-rem(15) govuk-px-to-rem(20) govuk-px-to-rem(20) govuk-px-to-rem(20);
    background-color: $ccs-subtle-colour;

    .govuk-checkboxes,
    .govuk-radios {

        margin: 0 govuk-px-to-rem(-12) govuk-px-to-rem(-9) govuk-px-to-rem(-12);

    }

}



/**
 * modify the padding so that the focus state reaches the edges of the box
 * (the focus state is set on `.govuk-accordion__section-header`)
 */
.ccs-form-group--enclosure--tight {

    padding-left: 0;
    padding-right: 0;

    .govuk-accordion__section-header,
    .govuk-accordion__section-content {

        padding-left: govuk-px-to-rem(20);
        padding-right: govuk-px-to-rem(20);

    }

}



.ccs-results-notification {
    margin-bottom: govuk-px-to-rem(20);
}


@include govuk-media-query($from: 1000) {

    .apollo-enclosure--padded {

        padding: govuk-px-to-rem(34) govuk-px-to-rem(29) govuk-px-to-rem(46) govuk-px-to-rem(46);

    }

}
